<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HypoxicTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HypoxicTimer.Properties.Settings>
            <setting name="HypoicTime" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="RecoveryTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Sessions" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="PlaySounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Oximeter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="HighlightLowValues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="backupToBox" serializeAs="String">
                <value />
            </setting>
            <setting name="saveTo" serializeAs="String">
                <value />
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OximeterType" serializeAs="String">
                <value>CMS 60C</value>
            </setting>
            <setting name="ShowPulse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DoUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Profiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HypoxicSound" serializeAs="String">
                <value />
            </setting>
            <setting name="RecoverySound" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepAwake" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HTiGoal" serializeAs="String">
                <value>400</value>
            </setting>
        </HypoxicTimer.Properties.Settings>
    </userSettings>
</configuration>